@import "./assets/css/font-awesome.css";
@import "./assets/css/scrollbar.css";
@import "./assets/css/slide.css";
@import "./assets/css/fade.css";
@import "./assets/css/seasons_selection.css";
@import "./assets/css/loader.css";

:root {
  color-scheme: dark;
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
